yfinance
pandas
numpy
ta
scikit-learn
mlflow
xgboost
fastapi
uvicorn
pydantic
prometheus-fastapi-instrumentator
pandas-datareader
fredapi
pytrends
matplotlib
pyarrow
optuna
tenacity
vaderSentiment
nltk
shap
lightgbm
aiohttp